body {
    background-color: #F4F4F4 !important;
}

.bg-body-tertiary {
    background-color: #282D2F !important;
}

main {
    display: flex;
    margin: 8px;
}

.clickable-object {
    text-decoration: none !important;
}

/* HOME */
.restaurant-feed {
    flex-direction: row;
    justify-content: center;
    align-items: start;
    align-content: start;
    gap: 20px;
    flex-wrap: wrap;
    padding: 12px;
}

.restaurant-card {
    transition: all .2s ease-in-out;
    width: 18rem;
}

.restaurant-card-img {
    background-size: cover !important;
    height: 200px;
    background: var(--main_image);
}

.restaurant-card:hover {
    transform: scale(1.02);
}

.restaurant-card:hover .restaurant-card-img {
    background: var(--hover_image);
}

/* RESTAURANT MENU */
.categories {
    display: inline-block;
    margin: 8px;
}

.category-item {
    text-align: start;
    color: unset;
    padding: 4px 8px;
    margin-bottom: 2px;
}

.category-item.active {
    background-color: rgba(237, 122, 87, 0.25) !important;
    color: unset !important;
}

.category-item:hover {
    color: unset;
    background-color: rgba(237, 122, 87, 0.25) !important;
}

.items {
    flex-grow: 1;
}

.cart {
    flex: 0 0 20%;
}