body {
    background-color: #F4F4F4 !important;
}

.bg-body-tertiary {
    background-color: #282D2F !important;
}

main {
    margin: 8px;
}

.restaurant-feed {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: start;
    align-content: start;
    gap: 20px;
    flex-wrap: wrap;
    padding: 12px;
}

.restaurant-card {
    transition: all .2s ease-in-out;
    width: 18rem;
}

.restaurant-card-img {
    background-size: cover !important;
    height: 200px;
    background: var(--main_image);
}

.restaurant-card:hover {
    transform: scale(1.02);
}

.restaurant-card:hover .restaurant-card-img {
    background: var(--hover_image);
}

.clickable-object {
    text-decoration: none !important;
}

.error-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    height: 100%;
}

.error-image {
    margin: 1em;
}

.error-message {
    display: flex;
    justify-content: center;
    margin: 0.5em;
    color: #282d2f;
}

.btn-primary {
    background-color: #282d2f !important;
    border-color: #282d2f !important;
}

.btn-primary:hover, .btn-primary:active, .btn-primary:visited {
    background-color:  #ed7a57 !important;
    border-color: #ed7a57 !important;
}