.card {
    transition: all .2s ease-in-out;
    width: 18rem;
}

.card-img {
    background-size: cover !important;
    height: 200px;
    background: var(--main_image);
}

.card:hover{
    transform: scale(1.02);
}

.card:hover .card-img {
    background: var(--hover_image);
}
