.tags-container {
    padding: 6px var(--bs-card-spacer-x) 0 var(--bs-card-spacer-x);
    margin: 0 calc(-1 * var(--bs-card-spacer-x));
    display: flex;
    gap: 6px;
    overflow-x: scroll;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

.tags-container::-webkit-scrollbar {
    width: 0;
    height: 0;
    padding: 0;
    margin: 0;
    background: transparent; /* make scrollbar transparent */
}
