main.user_profile {
    display: block;
}

.user_profile .profile-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
}

.user_profile .user-info-container {
    display: flex;
    flex-direction: column;
    flex: 35% 0 0;
    justify-content: flex-start;
    align-content: center;
    margin-right: 24px;
}

.user_profile .reviews-container {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.user_profile .reviews-container .card {
    width: 100%;
}

.user_profile .my-review-card-header {
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-content: center;
}

.user_profile .my-review-card-header-info {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
}
